.info-1, .info-2, .info-3 {
    width: 30%;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-position: bottom;
    background-size: cover;
    float: left;
    padding: 5px;
    margin-right: 3px;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.info-1 {
    background-image: url(assets/task2-bg.jpeg);
}

.info-2 {
    background-image: url(assets/task2-bg1.jpeg);

}

.info-3 {
    background-image: url(assets/task2-bg2.jpg);

}